.chompchat {
    font-size: 90%;
    border: 1px solid var(--light);
    border-radius: 0.25rem;
    overflow: hidden;
}
.chompchat_entry {
    margin-block: 0;
    padding-inline: 1rem;
}

.chompchat_entry:nth-child(odd) {
    background: var(--stream-lighter)
}

.chompchat_entry_name {
    /* font-weight: 700; */
}
.chompchat_entry_text {}

.icon-recording::before {
    content: "●";
    color: red;
}

.disasterPiece { font-weight: bold; }

.q-selkie {
    --streamtalk-bg: hsla(300, 100%, 25%, 4%);
    --streamtalk-text: hsl(300, 100%, 25%);
}

.q-matty {
    --streamtalk-bg: hsla(0, 100%, 50%, 4%);
    --streamtalk-text: hsl(0, 100%, 30%);
}

.q-selkie, .q-matty {
    display: block;
    margin-block: 1rem;
    color: var(--streamtalk-text);
    background-color: var(--streamtalk-bg);
    padding-block: 1rem;
    padding-inline-start: 2.5rem;
    padding-inline-end: 1rem;
    position: relative;
}

.donation {
    display: block;
    background-color: hsl(40, 100%, 90%);;
    padding-inline: 1rem;
    border: 1px solid hsl(40, 100%, 70%);
    border-radius: 0.25rem;
    position: relative;
}

/* .q-selkie::before, .q-matty::before {
    content: '';
    background-color: var(--stream-light);
    background-size: 32px 32px;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    box-sizing: border-box;
    width: 4px;
    flex-shrink: 0;
    align-self: first-baseline;
} */

.q-selkie::before, .q-matty::before {
     content: '“';
     position: absolute;
     left: 1rem;
     top: 0.25em;
     font-size: 2rem;
     font-weight: bold;
}

