.discordchat {
    font-size: 1rem;
    /* border: 1px solid var(--light); */
    border-radius: 0.25rem;
    overflow: hidden;
    /* background: #1e2124; */
}
.discordchat_entry {
    display: flex;
}

.discordchat_img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 1rem;
    margin-top: 6px;
}
.discordchat_entry_name {
    font-weight: 600;
}
.discordchat_entry_message {}

.icon-recording::before {
    content: " ● ";
    color: red;
}

.discordchat_emote {
    width: 1rem;
    height: 1rem;
}

.disasterPiece { font-weight: bold; }