:root {

}

.selkie, .matty {
    display: block;
    color: var(--streamtalk-text);
    background-color: var(--streamtalk-bg);
    padding-block: 1rem;
    padding-inline: 1rem;
    margin-inline: -1rem;
}

/* .selkie::before, .matty::before {
    content: '';
    background-color: var(--stream-light);
    background-size: 32px 32px;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    box-sizing: border-box;
    width: 4px;
    flex-shrink: 0;
    align-self: first-baseline;
} */

.selkie {
    --streamtalk-bg: hsl(300, 100%, 96%);
    --streamtalk-text: hsl(300, 100%, 30%);
}

.matty {
    --streamtalk-bg: hsl(0, 81%, 90%);
    --streamtalk-text: hsl(0, 81%, 30%);
}